body{
    font-family: fantasy;
}

.bg-primary .navbar-brand{
    color: white;
    font-size: 2rem;
    &:hover{
        color: white;
    }

}


.icono{
    width: 20px;
}

.iconoprincipal{
    width: 100%;
}

.card-infoempleado{
    margin: 2%;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    align-content: center;
    align-items: center;
}

.tabla-cool{
    margin: 2%;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}